<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CX360" value="Data Source=LAPTOP-EP40GNI3\SQLEXPRESS;Initial Catalog=Cx360;user id=sa;password=techie!@#;Max Pool Size=10;Pooling=True"/>
    <add key="CX360" value="IncidentManagement.DBUp.Scripts"/>
  </appSettings>
</configuration>